img{
    width: 25px;
}
a{
    color: white;
}
.header{
    padding: 15px 0;
    background: hsl(0, 3%, 18%);
    color: white;
    height: 60px;
}
.header-buttons a{
    font-size: 20px;
    color: white;
    margin-left: 20px;
    padding: 10px 0;
}