<div class="header">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-auto">
        <h4><a routerLink="/"><img src="../../assets/images/GitLab_Logo.svg.png"> &nbsp;Git Versioning</a></h4>
      </div>
      <div class="col-auto ml-auto">
        <div class="header-buttons">
          <a routerLink="/plan">Training Plan</a>
          <a routerLink="/poc">Training POC</a>
        </div>
      </div>
    </div>
  </div>
</div>