<div class="container p-5">
    <h1>POC - 1</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Concept</th>
                <th>Estimated Hours</th>
                <th>Output</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1. Create One project<br/>
                    2. Add project in Git(clone project)<br/>
                    3. Commit changes<br/>
                    4. Branch merge<br/>
                    5. Seperation of Branch from new Branch
                </td>
                <td>4 Hrs</td>
                <td>POC must be completed.<br/>
                    All Git steps must be followed.<br/>
                    CLI required</td>
            </tr>
        </tbody>
    </table>
</div>