<div class="container mb-5">
    <table class="table mt-5">
        <thead>
            <tr>
                <th>Day</th>
                <th>Concept</th>
                <th>Subconcepts</th>
                <th>ETC</th>
                <th>Resources</th>
                <th>target Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>8-Jan-2021</td>
                <td>Git Over View</td>
                <td>Git Setup<br/>Git Bash</td>
                <td>0.5 Hrs</td>
                <td>
                    <a target="_blank" href="https://www.udemy.com/course/git-complete/">https://www.udemy.com/course/git-complete/</a> <br/>

                    <a target="_blank" href="https://git-scm.com/docs/gittutorial">https://git-scm.com/docs/gittutorial</a><br/>
                    
                    <a target="_blank" href="https://www.youtube.com/watch?v=AzfVDEBn9hw">https://www.youtube.com/watch?v=AzfVDEBn9hw</a> <br/>
                    
                    <a target="_blank" href="https://www.youtube.com/watch?v=SWYqp7iY_Tc">https://www.youtube.com/watch?v=SWYqp7iY_Tc</a> <br/>
                    
                    <a target="_blank" href="https://www.youtube.com/watch?v=HVsySz-h9r4">https://www.youtube.com/watch?v=HVsySz-h9r4</a>
                </td>
                <td>8-Jan-2021</td>
            </tr>
            <tr>
                <td>8-Jan-2021</td>
                <td>Git Features</td>
                <td>Add project<br/>
                    clone Projecr<br/>
                    Push and Pull code</td>
                <td>0.5 Hrs</td>
                <td></td>
                <td>8-Jan-2021</td>
            </tr>
            <tr>
                <td>8-Jan-2021</td>
                <td>Git Changes</td>
                <td>Add changes<br/>
                    Commit Changes<br/>
                    Check Status</td>
                <td>0.5 Hrs</td>
                <td></td>
                <td>8-Jan-2021</td>
            </tr>
            <tr>
                <td>8-Jan-2021</td>
                <td>Project History</td>
                <td>Project History<br/>
                    Check Versioning<br/>
                    Getting Previous version File</td>
                <td>0.5 Hrs</td>
                <td></td>
                <td>8-Jan-2021</td>
            </tr>
        </tbody>
    </table>
    <span style="padding: 0px 10px; background: green; color:white"> 11-JAN-2021 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;OPTIONAL - QUERY CLARIFICATION + WORKSHOPS + TRAINING VALIDATION: Schedule & other information will be shared</span>
    <table class="table">
        <tr>
            <td>12-Jan-2021</td>
            <td>Managing branches</td>
            <td>Create New Branch<br/>
                Merge Branch<br/>
                Adding Git with Project</td>
            <td>2 Hrs</td>
            <td>
                <a target="_blank" href="https://www.udemy.com/course/git-complete/">https://www.udemy.com/course/git-complete/</a><br/>
                <a target="_blank" href="https://git-scm.com/docs/gittutorial">https://git-scm.com/docs/gittutorial</a><br/>
                <a target="_blank" href="https://www.youtube.com/watch?v=AzfVDEBn9hw">https://www.youtube.com/watch?v=AzfVDEBn9hw</a><br/>
                <a target="_blank" href="https://www.youtube.com/watch?v=SWYqp7iY_Tc">https://www.youtube.com/watch?v=SWYqp7iY_Tc</a><br/>
                <a target="_blank" href="https://www.youtube.com/watch?v=HVsySz-h9r4">https://www.youtube.com/watch?v=HVsySz-h9r4</a>
            </td>
            <td>12-Jan-2021</td>
        </tr>
        <tr>
            <td>12-Jan-2021</td>
            <td>Comparision Of Files and Branches</td>
            <td></td>
            <td>2 Hrs</td>
            <td></td>
            <td>12-Jan-2021</td>
        </tr>
        <tr>
            <td>12-Jan-2021</td>
            <td>Exploring history</td>
            <td>Using Git Log</td>
            <td>0.5 Hrs</td>
            <td></td>
            <td>12-Jan-2021</td>
        </tr>
        <tr>
            <td>13-Jan-2021</td>
            <td>Exploring history</td>
            <td>Using Git Log</td>
            <td>0.5 Hrs</td>
            <td></td>
            <td>13-Jan-2021</td>
        </tr>
    </table>
    <span style="padding: 0px 10px; background: red; color:white"> 14-Jan-2021 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MANDATORY - EVALUATION: Schedule and other information will be shared. POC 1 should be completed.<br/></span>
    <span style="padding: 0px 10px; background: rgb(87, 20, 48); color:white"> 15-Jan-2021 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;END OF TRAINING. MANDATORY - Mandatory re-inforcement of trained topics will be done through monthly skill review and TNA.</span>
</div>

<!-- http://propairweb.n1.iworklab.com/signup/hbhbhj 
http://propairweb.n1.iworklab.com/student/studentSignup/khnjllk-->